/**************************
    GENERAL
***************************/
$mk_white: #ffffff;
/**************************
   BACKGROUND
***************************/
$mk_bg_pink: #DFC6C1;
$mk_bg_mint: #D3E0CC;
$mk_bg_brown: #E3CFB7;
$mk_bg__dark_pink: #8B6A73;


/**************************
   TEXT
***************************/
$mk_txt_dark_gray:#4D5057;
$mk_txt_light_gray:#939393;
$mk_txt_black:#000000;

