/**************************
    GENERAL
***************************/
$mk_white: #ffffff;

/**************************
   BACKGROUND
***************************/
$mk_bg_pink: rgb(223, 198, 193);
$mk_bg_mint: rgb(211, 224, 204);
$mk_bg_brown: rgb(227, 207, 183);
$mk_bg_dark_pink: #8B6A73;


/**************************
   TEXT
***************************/
$mk_txt_dark_gray:rgb(77, 80, 87);
$mk_txt_light_gray:#939393;
$mk_txt_black:#000000;

